version: '3.8'

services:
  system-monitor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: system-monitor
    restart: always
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_RAWIO
    devices:
      - /dev/net/tun:/dev/net/tun
      - /dev/cpu:/dev/cpu:rw
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /lib/modules:/lib/modules:ro
    stdin_open: false
    tty: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
